* {
    font-size: 15px;
    font-family: monospace;
}

window#waybar {
    background-color: #141414;
    color: #e8e8e8;
}

#workspaces button {
    color: #777777;
    background-color: transparent;
    padding: 0 8px;
}

#workspaces button.focused {
    background-color: #2a2a2a;
    color: #e8e8e8;
    border-radius: 4px;
}

#clock,
#window {
    padding: 0 10px;
    color: #c1c1c1;
}
