* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background: rgba(22, 28, 35, 0.92);
  color: #C5C7D6;
  font-family: "MesloLGS Nerd Font", "Noto Sans", sans-serif;
  font-size: 13px;
  border-top: 2px solid #292D35;
}

#workspaces {
  padding: 0 4px;
}

#workspaces button {
  padding: 0 8px;
  margin: 4px 2px;
  background: #292D35;
  color: #9C9BAA;
  border-radius: 0;
  border: 1px solid transparent;
}

#workspaces button.active,
#workspaces button.focused {
  background: #596478;
  color: #FFFFFF;
  border: 1px solid #9C9BAA;
}

#workspaces button.urgent {
  background: #596478;
  color: #FFFFFF;
}

#window {
  padding: 0 12px;
  margin: 4px 0;
  color: #DAD4E1;
}

#custom-ethernet {
  padding: 0 10px;
  margin: 4px 0;
  color: #aba6a6;
}

#custom-localip {
  padding: 0 10px;
  margin: 4px 0;
  color: #9C9BAA;
}

#clock-date {
  padding: 0 10px;
  margin: 4px 0;
  color: #DAD4E1;
}

#clock-time {
  padding: 0 10px;
  margin: 4px 0;
  color: #FFFFFF;
  font-weight: bold;
}
